<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>GetHealthy</title>
    <meta name="description" content="Collect Bounties by being Healthy">
    <link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
    <link rel="manifest" href="./site.webmanifest">
    <script src="/assets/vendor/jQuery/jquery-3.5.1.min.js" defer></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.min.js" defer></script>
    <script src="/assets/js/app.js" defer></script>
    <link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/about.css">
</head>

<body>
    <!-- Start vertical navbar -->
    <div class="vertical-nav bg-white" id="sidebar">
        <div class="py-4 px-3 mb-4 bg-light">
            <div class="media d-flex align-items-center"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556074849/avatar-1_tcnd60.png" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
                <div class="media-body">
                    <h4 id="username" class="m-0">John Doe</h4>
                    <p id="profession" class="font-weight-light text-muted mb-0">Web developer</p>
                    <p id="email" class="font-weight-light text-muted mb-0">john.doe@gmail.com</p>
                </div>
            </div>
        </div>

        <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Get Healthy</p>

        <ul class="nav flex-column bg-white mb-0">
            <li class="nav-item">
                <a href="./dashboard.html" class="nav-link text-dark font-italic">
                    <i class="fa fa-th-large mr-3 text-primary fa-fw"></i> Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a href="./bounties.html" class="nav-link text-dark font-italic">
                    <i class="fa fa-cubes mr-3 text-primary fa-fw"></i> Bounties
                </a>
            </li>
            <li class="nav-item">
                <a href="./about.html" class="nav-link text-dark font-italic bg-light">
                    <i class="fa fa-address-card mr-3 text-primary fa-fw"></i> About
                </a>
            </li>
        </ul>
    </div>
    <!-- End vertical navbar -->

    <!-- Page content holder -->
    <div class="page-content p-4" id="content">
        <!-- Toggle button -->
        <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small id="toggleText" class="text-uppercase font-weight-bold">Toggle NavBar</small></button>

        <!-- Start About content -->
        <h2 class="display-4 text-white">About</h2>
        <p class="lead text-white mb-0">Claim Bounties and Your Health.</p>
        <p class="lead text-white">Earn <a href="https://GitHub.com/" class="text-white"><u>Rewards</u></a></p>
        <div class="separator"></div>
        <div class="row text-white">
            <div class="col-lg-7">
                <p class="lead">Fostering healthy behaviors, staying active, and eating nutritiously at home are vital for children’s development for many reasons, in addition to the obvious. Practicing health at home helps build resilience and the ability to better
                    manage stressors, helps prevent disease and boosts the immune system & reinforces lessons learned at school and helps create a 360-degree healthy environment</p>
                <p class="lead">When kids are out of school for any reason, whether it’s the weekend, a holiday break, or a school closure, parents and caregivers can use these activities and resources to keep their kids moving, learning, and eating healthily.
                </p>
                <div class="bg-white p-5 rounded my-5 shadow-sm">
                    <p class="lead font-italic mb-0 text-muted">"Yoga is for every… body! It’s often assumed that one must already be flexible and physically fit to participate in yoga. One of the many great aspects of yoga is that it can be modified to support any age, goal and ability level.
                        Its inclusive nature and ability to be practiced almost anywhere and with very little equipment makes it a great fit for classrooms, play spaces, recess, before and after school programs, and even at home."</p>
                </div>
                <p class="lead">But, what exactly is yoga? Yoga is an activity that includes breathing techniques, yoga poses and mindfulness. Mindfulness is the practice of focusing your attention on the present moment. In yoga, participants often use breathing and
                    yoga poses to help the mind calm. Yoga has the ability to help kids and adults be more active, flexible and mindful for an increase on overall well-being!.
                </p>
            </div>
            <div class="col-lg-5">
                <p class="lead">Facilitators do not need to create yoga-based lessons and activities on their own. There are many amazing and useful tools, books and resources to help you along your journey. Consider introducing students and staff to yoga through age-appropriate
                    books and stories. When participants know what to expect, the transition to new activities can be less confusing while creating an element of excitement.</p>
                <p class="lead">When creating a yoga-based lesson plan, teachers may want to consider the following: The learning objective of the activity. What do you want the students to know and be able to do? For students to be calmed down, energized, or focused?
                    Let the postures you choose reflect the goals and flow of the lesson plan.
                </p>
                <p class="lead">Through visualization, we invite students to use their imagination. This can help students to release tension and become calmer. Dedicating a few minutes of your yoga lesson to breath work. You may have heard the saying ‘Take a deep breath.’
                    While this is wonderful suggestion based on simple wisdom, it can be harder than you think when you are feeling a little challenged – it’s one of the main reasons why we practice it in yoga!.</p>
                <p class="lead">Consider the age and developmental level of students as well as other constraints and opportunities. Brain boosting and creative, community-building games. Yoga doesn’t have to always be an individual practice. Consider partner activities,
                    small and larger group games and team-building exercises.
                </p>
            </div>
        </div>

    </div>
    <!-- End About content -->

</body>

</html>